* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.person {
  background: #eeeeee;
  width: 17em;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  transition: all 0.3 linear;
}

.person img {
  border-radius: 50%;
  border: 0.1rem solid greenyellow;
}

.person h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  color: green;
  letter-spacing: 0.15rem;
}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.personList {
}

@media screen and (min-width: 768px) {
  .personList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .personList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
